<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.www.avtovokzal.org">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:name=".AppController" >

        <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data android:name="com.google.android.gms.analytics.globalConfigResource"
            android:resource="@xml/global_tracker" />

        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:noHistory="false"
            android:launchMode="singleTask" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

        <activity android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />

        <activity
            android:name=".ErrorActivity"
            android:configChanges="orientation|screenSize"
            android:noHistory="true" >
        </activity>

        <activity
            android:name=".MenuActivity"
            android:configChanges="orientation|screenSize" >
        </activity>

        <activity
            android:name=".InfoActivity"
            android:configChanges="orientation|screenSize" >
        </activity>

        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|screenSize" >
        </activity>

        <activity
            android:name=".ArrivalActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTask" >
        </activity>

        <activity
            android:name=".InfoArrivalActivity"
            android:configChanges="orientation|screenSize" >
        </activity>

        <activity
            android:name=".GgmActivity"
            android:configChanges="orientation|screenSize" >
        </activity>

    </application>
</manifest>
